<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Mirai Consult ™ </title>
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
    <link rel="stylesheet" href="../Scripts/google-code-prettify/prettify.css" />
    <link rel="stylesheet" href="../Content/font-awesome.min.css" />
    <link rel="Stylesheet" href="../Content/bootstrap-responsive.css" />
    <link rel="Stylesheet" href="../Content/bootstrap-responsive.min.css" />
    <link rel="Stylesheet" href="../Content/chosen/chosen.css" />
    <link rel="stylesheet" href="../Content/custom.css" />
    <link rel="stylesheet" href="../Content/datepicker.css" />
    @*<%--
        <link rel="stylesheet" href="app/Resources/css/jquery-ui.css" />--%>*@
    <link href="../Content/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet/less" type="text/css" href="../Content/less/datepicker.less" />
    <!-- Meta tag to avoid auto zoom in and out on gaining and loosing focus on textbox on phones.-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <!--[if IE 7]>
    <link rel="stylesheet" href="app/assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    @*<asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>*@
</head>
<body>
    @RenderSection("featured", required: false)
    <div id="wrap">
            <div class="navbar custom-navbar">
                <div class="custom-navbar-links">
                    <div class="container">

                        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
                        <div class="paddingtopby1">
                            <div>
                                @*@{if (Session["UserId"] == null || Convert.ToString(Session["UserId"]) == "")
                                    {
                                    if (HttpContext.Current.Request.Url.AbsoluteUri.Contains("PatientSignUp.aspx") || HttpContext.Current.Request.Url.AbsoluteUri.Contains("DoctorSignUp.aspx") || HttpContext.Current.Request.Url.AbsoluteUri.Contains("verifyemail.aspx") || HttpContext.Current.Request.Url.AbsoluteUri.Contains("resetpassword.aspx")
                                    || HttpContext.Current.Request.Url.AbsoluteUri.Contains("similarquestions.aspx") || HttpContext.Current.Request.Url.AbsoluteUri.Contains("finddoctor.aspx") || HttpContext.Current.Request.Url.AbsoluteUri.Contains("forgotpassword.aspx") || HttpContext.Current.Request.Url.AbsoluteUri.Contains("questiondetails.aspx"))
                                    {*@
                                <div class="pull-right">
                                    <ul class="nav">
                                        <li><a href="@Url.Action("Login", "User")">Already have an account? <b><u>Login</u></b></a></li>
                                    </ul>
                                </div>
                                @*}
                                    else if (HttpContext.Current.Request.Url.AbsoluteUri.Contains("home"))
                                    {
                                    <div class="row-fluid">
                                        <div style="float:left">
                                            <a class="btn btn-navbar custom-btn-navbar visible-tablet" data-toggle="collapse" data-target=".mobile-menu">
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </a>
                                        </div>
                                        <div class="span8 pull-right">
                                            <div class="row-fluid hidden-phone dropdown-div-margin">
                                                <div class="span11 margin-top-athome-nav dropdown-link-margin-left pull-right">
                                                    <ul class="nav pull-right inline">
                                                        <li><a href="../admin/Login.aspx">Existing user <b><u>Login</u></b> here </a></li>
                                                        <li><a href="#">|</a></li>
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New to Mirai Consult&#8482;?  <b><u>Signup</u></b> here <b class="caret"></b></a>
                                                            <ul class="dropdown-menu" style="margin-right:5%">
                                                                <li><a href="../SignUp/PatientSignUp.aspx"><i class="icon-user"></i>Signup as Patient</a></li>
                                                                <li class="divider"></li>
                                                                <li>
                                                                    <a href="../SignUp/DoctorSignUp.aspx">
                                                                        <i class="icon-user-md"></i>Signup as Doctor
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row-fluid visible-phone">
                                                <div style="float:left">
                                                    <a class="btn btn-navbar custom-btn-navbar visible-tablet visible-phone" data-toggle="collapse" data-target=".mobile-menu">
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                        <span class="icon-bar"></span>
                                                    </a>
                                                </div>
                                                <div class="span6 offset6 margin-top-athome-nav topmenupadding-right">
                                                    <ul class="nav pull-right">
                                                        <li class="dropdown">
                                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b><u>Signup</u></b><b class="caret"></b></a>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="../SignUp/PatientSignUp.aspx"><i class="icon-user"></i>Signup as Patient</a></li>
                                                                <li class="divider"></li>
                                                                <li>
                                                                    <a href="../SignUp/DoctorSignUp.aspx">
                                                                        <i class="icon-user-md"></i>Signup as Doctor
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li class="inline">
                                                            <a href="../admin/Login.aspx"><b><u>Login</u></b></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                     }
                                    else if (HttpContext.Current.Request.Url.AbsoluteUri.Contains("Login.aspx"))
                                    {
                                    <div class="pull-right">
                                        <ul class="nav">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle menu-padding" data-toggle="dropdown">New to Mirai Consult&#8482;? <b><u>Signup</u></b> here<b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="../SignUp/PatientSignUp.aspx"><i class="icon-user"></i>Sign Up as Patient</a></li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="../SignUp/DoctorSignUp.aspx">
                                                            <i class="icon-user-md"></i>Sign Up as Doctor
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    }
                                    }
                                    else
                                    {
                                    <div style="float:left">
                                        <a class="btn btn-navbar custom-btn-navbar visible-tablet visible-phone" data-toggle="collapse" data-target=".mobile-menu">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                    </div>
                                    <div class="paddingrightby3 pull-right ">
                                        <ul class="nav">
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@*Welcome <%= Session["UserFullName"]%> <b class="caret"></b></a>
                                                <ul class="dropdown-menu pull-right">
                                                     @if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Doctor))
                                                    {
                                                    <li><a href="../../app/Profile/doctorprofile.aspx"><i class="icon-user"></i>My Profile</a></li>
                                                    <li><a href="../doctor/questionlist.aspx"><i class="icon-list-alt"></i>My Account</a></li>
                                                    <li><a href="../admin/changepassword.aspx"><i class="icon-key"></i>Change Password</a></li>
                                                    }
                                                    else if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient))
                                                    {
                                                    <li><a href="../Profile/patientprofile.aspx"><i class="icon-user"></i>My Profile</a></li>
                                                    <li><a href="../feed/feed.aspx"><i class="icon-list-alt"></i>My Account</a></li>
                                                    <li><a href="../admin/changepassword.aspx"><i class="icon-key"></i>Change Password</a></li>
                                                    }
                                                    else if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.SuperAdmin))
                                                    {
                                                    @*<%--
                                                    <li><a href="../../app/admin/ManageSiteContent.aspx"><i class="icon-edit"></i>Manage Site Content</a></li>--%>
                                                    <li><a href="../../app/admin/ManageDoctors.aspx"><i class="icon-edit"></i>My Account</a></li>
                                                    }
                                                    <li>
                                                        <asp:LinkButton ID="linkLogout" OnClientClick="return confirm('Are you sure you want to logout?');" runat="server" CausesValidation="false"
                                                                        OnClick="linkLogout_Click"><i class="icon-off"></i>Logout</asp:LinkButton>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                    }
                                    }*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="custom-navbar-inner tomenu-right-padding search-padding-left">
                    <div class="custom-margin-box topmenu-right-margin topnavbar-position-bottom-margin" style="border:none;margin-left: 1.3%;">
                        <div class="imgwidth">

                            <a class="brand" href="@Url.Action("Home","Home")">
                                <img src="../Content/image/logo.png" class="col-md-4 logoimage-width" />
                            </a>
                        </div>
                        <div class="container topnavbar-position topnavbar-position-bottom-margin unregtopnavbar-left-margin container-padding-top unreg-menu-search">
                            <div class=" row-fluid row-margin-left">
                                <div class="span8  custom-occupy custom-border-around margin-top-to-tab hidden-phone hidden-tablet btn-margin-top unreg-menu menu-div-margin-top" style="margin-top:-15px;margin-bottom:10px">
                                    <div class="divHover" style="margin-left: 2px;">
                                        <a href="http://www.miraihealth.com" target="_blank" class="topmenu-links">Who we are</a>
                                    </div>
                                    <div class="divHover">
                                        <a href="#" class="topmenu-links">|</a>
                                    </div>
                                    <div class="divHover">
                                        <a href="@Url.Action("HowWeWorks","Home")" class="topmenu-links">How we work</a>
                                    </div>
                                    <div class="divHover">
                                        <a href="#" class="topmenu-links">|</a>
                                    </div>
                                    <div class="divHover">
                                        <a href="../patient/finddoctor.aspx" class="topmenu-links">Our Doctors</a>
                                    </div>
                                </div>
                                <div class="span4 margin-top-to-tab btn-margin-bottom search-div-margin search-width center_align unreg-search topnavbar-btn-margin unreg-margin-left topnavbar-search-margin unregsearch-left-margin" align="center">
                                    <input id="txtsearch" type="text" class="form-control pull-right form-search search-float input-searchsize search-query search-margin" placeholder="Search" onkeypress="return isEnterPress(event, this);" />
                                </div>
                            </div>
                        </div>
                        <div class="span8  collapse nav-collapse mobile-menu visible-phone visible-tablet reg-menu-padding" style="width:100%">
                            <ul class="pull-right menu-top-margin" style="float:left;">
                                <li class="menu-style"> <a href="http://www.miraihealth.com" target="_blank" class="topmenu-links"> Who we are</a></li>
                                <li class="menu-style"><a href="@Url.Action("HowWeWorks","Home")" class="topmenu-links menu-padding-top" style="width:100%"> How we work</a></li>
                                <li class="menu-style"><a href="../patient/finddoctor.aspx" class="topmenu-links menu-padding-top"> Our Doctors</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                @*<asp:ContentPlaceHolder ID="MainPage" runat="server">
                    </asp:ContentPlaceHolder>*@
                @RenderBody()
            </div>
            <div class="visible-phone"><br /><br /><br /><br /><br /></div>
            <div class="footer visible-phone">
                <div class="cust-inner-footer row-fluid span12">
                    <div class="center_align">
                        <div class="footer-margin-top" style="float:left;width:100%;">
                            <a href="@Url.Action("PrivacyPolicy","Home")" class="menu-links ">Privacy Policy</a>
                            <span>|</span>
                            <a href="@Url.Action("Contact","Home")" class="menu-links ">Contact Us </a>
                            <span>|</span>
                            <a href="@Url.Action("TermsOfUse","Home")" class="menu-links">Terms Of Use</a>
                        </div>
                    </div>
                    <div class="hidden-phone">
                        <div class=" center_align" style="float:left">
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../Content/image/btwitter.png" class="cust-footer-icon" />
                            </a>&nbsp;
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="../Content/image/bfb.png" class="cust-footer-icon" />
                            </a>&nbsp;
                            <a href="#" target="_blank">
                                <img src="../Content/image/blinkedin.png" class="cust-footer-icon" />
                            </a>
                        </div>
                        <div style="float:right">
                            <a href="http://www.miraihealth.com/" target="_blank"><img src="../Content/image/footer-logo.png" /></a>
                        </div>
                    </div>
                    <div class="visible-phone center_align" style="width:200px;margin:auto">
                        <div class=" center_align" style="float:left">
                            <a href="https://twitter.com/" target="_blank">
                                <img src="../Content/image/btwitter.png" class="cust-footer-icon" />
                            </a>&nbsp;
                            <a href="https://www.facebook.com/" target="_blank">
                                <img src="../Content/image/bfb.png" class="cust-footer-icon" />
                            </a>&nbsp;
                            <a href="#" target="_blank">
                                <img src="../Content/image/blinkedin.png" class="cust-footer-icon" />
                            </a>
                        </div>
                        <div style="float:right">
                            <a href="http://www.miraihealth.com/" target="_blank"><img src="../Content/image/footer-logo.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <!-- FOOTER -->

            <div id="footer-bottom" class="hidden-phone">
                <div id="footer-area">
                    <div class="cust-inner-footer row-fluid span12 dropdown-div-margin">
                        <div class="span3 question-padding">
                            <a href="https://twitter.com/MiraiHealth1" target="_blank">
                                <img class="cust-footer-icon" src="../Content/image/btwitter.png" />
                            </a>
                            <a href="https://www.facebook.com/pages/Mirai-Health/661285780576488" target="_blank">
                                <img class="cust-footer-icon" src="../Content/image/bfb.png" />
                            </a>
                            <a href="http://www.linkedin.com/company/a-square-healthcare-ventures" target="_blank">
                                <img class="cust-footer-icon" src="../Content/image/blinkedin.png" />
                            </a>
                        </div>
                        <div class="span5 cust-footer-text center_align">
                            <a class="cust-footer-text" href="@Url.Action("PrivacyPolicy","Home")" target="_blank">Privacy Policy</a><a class="cust-footer-text" href="#">
                                |
                            </a>  <a class="cust-footer-text" href="@Url.Action("Contact","Home")" target="_blank">Contact Us</a> <a class="cust-footer-text" href="#">|</a> <a class="cust-footer-text" href="@Url.Action("TermsOfUse","Home")" target="_blank">Terms Of Use</a>
                        </div>
                        <div class="span2 pull-right cust-footer-logo">
                            <a href="http://www.miraihealth.com/" target="_blank">
                                <img src="../Content/image/footer-logo.png" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script type="text/javascript" src="../Scripts/autocomplete.js"></script>
    <script type="text/javascript">
        $(function () {
            $(".navigation li.active").removeClass("active");
            $('#liSimilarQuestions').addClass("active");
        });
        $(document).ready(function () {
            function reorient(e) {
                var portrait = (window.orientation % 180 == 0);
                //$("body > div").css("overflow-x", "hidden");
            }
            window.onorientationchange = reorient;
            window.setTimeout(reorient, 0);
        });

    </script>
</body>
</html>