
@model IEnumerable<QuestionDtlModel>

@{
    ViewBag.Title = "PatientQuestionDetails";
    if(Session["UserId"] == null)
    {
         Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
    }
    else
    { 
        Layout = "~/Views/Shared/_PatientMasterLayout.cshtml";
    }
}

<link rel="stylesheet" href="~/Content/chosen/chosen.css" />
<script type="text/javascript" src="~/Content/chosen/chosen.jquery.js"></script>

<div class="custom-central-div">
    <div class="row-fluid">
        <div class="span12">
            <div class="margin_bottom">
                @{string uType = "";
                if (Session["UserType"] != null)
                {
                    if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Doctor))
                    {
                        uType = "Doctor";
                    }
                    else if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient))
                    {
                        uType = "Patient";
                    }
                    else if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.SuperAdmin))
                    {
                       uType = "SuperAdmin";
                    }
                }
                else
                {
                    uType = "NotLoggedIn";
                }
                }
                @if (Model != null && Model.Count() != 0)
                { 
                    <div class='span12 custom-green-container'>
                        <div class="question_text">@Html.Raw(Model.FirstOrDefault().QuestionText)</div>
                    </div>
                    if (@Model.FirstOrDefault().AnswerId != 0)
                    {
                        foreach (var item in Model)
                        {
                            <div class='row-fluid'>
                                <hr class='hr_color' />
                                <div class='span1 question_detail hidden-phone'>
                                    <div class='feedDocImage img'>
                                        @if (!string.IsNullOrEmpty(item.DoctorImg))
                                        {
                                            <img src='@item.DoctorImg' />
                                        }
                                        else
                                        {
                                            <img src='~/Content/image/img-na.png' />
                                        }
                                    </div>
                                </div>
                                <div class='feedDocImage img visible-phone'>
                                    @if (!string.IsNullOrEmpty(item.DoctorImg))
                                    {
                                        <img src='@item.DoctorImg' />
                                    }
                                    else
                                    {
                                        <img src='~/Content/image/img-na.png' />
                                    }
                                </div>
                                <div class='span8 middle-size-padding'>
                                    <div><a class='ans_time_detail' target="_blank" href='../doctor/@item.Name_seo'>Dr.  @item.Doctor </a></div>
                                    <div class='title_text'>
                                        <b> @item.Title</b>
                                    </div>
                                </div>
                                <div class="span3">
                                    <div id="@(item.AnswerId+"ans")"><div class="inner-count-likes pull-right" title="Thanked by patient"> @item.ThanxCount</div><div class="inner-count-endorse pull-right" title="Endorsed">@item.EndorseCount</div></div>
                                </div>
                                <div class="span3 pull-right hidden-phone" style="margin-bottom:10px">
                                    @if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) || Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Doctor) || Session["UserId"] == null)
                                    {
                                        if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) && Convert.ToBoolean(item.IsDocconnectUser))
                                        {
                                            <a class='pull-right btn book_appt_button' href='@Convert.ToString(ConfigurationSettings.AppSettings["DocConnectApptUrl"])@Utilities.Encrypt(Convert.ToString(item.DocId).Trim())&frmaskmirai=1' target='_blank' onclick='bookaptclicked( "@Utilities.Encrypt(Convert.ToString(item.DocId))","@uType")'>Book Appointment </a>
                                        }
                                        if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) && Convert.ToBoolean(item.IsDocconnectUser) == false)
                                        {
                                            <a class='pull-right btn book_appt_button' data-toggle='modal' data-target='#myModal' data-backdrop='static' data-keyboard='false' onclick="bookaptclicked('@Utilities.Encrypt(Convert.ToString(item.DocId))','@uType') ">Book Appointment </a>
                                        }
                                    }
                                </div>
                            </div>
                            <div class='row-fluid'>
                                @if (item.AnswerImg != null)
                                {
                                    <div class='span5 offset1 middle-size-padding'>
                                        <p class='ans_text'>@Html.Raw(item.AnswerText.Replace("\r\n","<br/>"))</p>
                                    </div>
                                    <div class='span3'>
                                        <div class='feedAnsImage img'>
                                            <img src="~/feed/answerPhotos/@item.AnswerImg">
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class='span11 offset1 middle-size-padding'>
                                        <p class='ans_text'>@Html.Raw(item.AnswerText.Replace("\r\n", "<br/>"))</p>
                                    </div>
                                }
                            </div>
                            <div class="span3 pull-left visible-phone">
                                @if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) || Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Doctor) || Session["UserId"] == null)
                                {
                                    if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) && Convert.ToBoolean(item.IsDocconnectUser))
                                    {
                                        <a class='pull-left btn book_appt_button' href='@Convert.ToString(ConfigurationSettings.AppSettings["DocConnectApptUrl"])@Utilities.Encrypt(Convert.ToString(item.DocId).Trim())&frmaskmirai=1' target='_blank' onclick='bookaptclicked( "@Utilities.Encrypt(Convert.ToString(item.DocId))","@uType")'>Book Appointment </a>
                                    }
                                    if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) && Convert.ToBoolean(item.IsDocconnectUser) == false)
                                    {
                                        <a class='pull-left btn book_appt_button' data-toggle='modal' data-target='#myModal' data-backdrop='static' data-keyboard='false' onclick="bookaptclicked('@Utilities.Encrypt(Convert.ToString(item.DocId))','@uType')">Book Appointment </a>
                                    }
                                }
                            </div>
                            if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient) || Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Doctor) || Session["UserId"] == null)
                            {
                                <div class='row-fluid'>
                                    @if (Session["UserId"] != null) {
                                        string userType = "";
                                        if (Session["UserType"] != null)
                                        {
                                            if (Convert.ToString(Session["UserType"]) == "1"){
                                                userType = "Doctor";
                                            }
                                            else if(Convert.ToString(Session["UserType"]) == "2"){
                                                userType = "Patient";
                                            }
                                        }                                        
                                    <div>
                                        <div class='top_marging_sharelink'>
                                            <div style="width:72%" class="pull-left hidden-phone">
                                                <hr style="margin:12px;" />
                                            </div>
                                            <a href='#' onclick='shareOnFacebook("@HttpUtility.JavaScriptStringEncode(HttpUtility.HtmlEncode(Convert.ToString(item.QuestionText)))","@HttpUtility.JavaScriptStringEncode(HttpUtility.HtmlEncode(Convert.ToString(item.AnswerText)) )","@item.QuestionId","@ViewBag.AskmiraiUrl","@ViewBag.FacebookAppKey", "@userType")'>
                                                <img title='Facebook' class='share_icons_width' src='~/Content/image/fb.png' alt='Facebook'>
                                            </a>
                                            <a class='share_link-margin ' target='_blank' href='https://twitter.com/intent/tweet?button_hashtag=TwitterStories&text=@ViewBag.AskmiraiUrl/answers/@item.seoQuestionText' onclick="ga('send', 'event', '@userType', 'Share On Twitter', @item.seoQuestionText)"><img title='Twitter' class='share_icons_width' src='~/Content/image/twitter.png' alt='Twitter'></a>

                                            <a class='share_link-margin ' href='mailto:?Subject=Mirai Consult has shared an answer with you &amp;Body= Q. @item.QuestionText %0D%0A  Ans.  @item.AnswerText'>
                                                <img title='Email' class='share_icons_width' src='~/Content/image/mail.png' style="margin-right:10px;" alt='Email' onclick="ga('send', 'event', '@userType', 'Share On Email', @item.seoQuestionText)">
                                                @if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Patient))
                                                {
                                                    bool isuserthanked;
                                                    isuserthanked = Convert.ToBoolean(@item.IsPatientThank);
                                                    if (isuserthanked == false)
                                                    {
                                                        <a class="custom-link" onclick="return thankToDoctor(@Session["UserId"],'  @(item.AnswerId)   ',this,' @(item.LastName) ','@(item.MobileNo) ','@(item.Email) ','@HttpUtility.UrlEncode(Convert.ToString(item.QuestionText)) ','@(item.ThanxCount) ')">Is it useful?</a>
                                                    }
                                                    else
                                                    {
                                                        <a class='custom-green-text'><img src='~/Content/image/thanks.png' />Thanks its useful</a>
                                                    }
                                                }
                                                else if (Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.Doctor))
                                                {
                                                    if (Convert.ToInt32(Session["UserId"].ToString()) != Convert.ToInt32(@item.DocId))
                                                    {
                                                        bool isendorse;
                                                        isendorse = Convert.ToBoolean(@item.IsEndorse);
                                                        if (isendorse == false)
                                                        {
                                                            <a class='custom-link' onclick="return endorseToDoctor(@(Convert.ToInt32(Session["UserId"])),'@(item.AnswerId)',@("this"),' @(item.LastName)','@(item.MobileNo)','@(item.Email)','@(Session["UserFullName"])','@HttpUtility.UrlEncode(Convert.ToString(item.QuestionText)) ','@(item.EndorseCount)')"><b>Want to endorse?</b></a>
                                                        }
                                                        else
                                                        {
                                                            <a class='custom-green-text'><img src='~/Content/image/thanks.png' /> Endorsed</a>
                                                        }
                                                    }
                                                }

</div>
                                    </div>
                                    }
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <span>No answers received</span>
                    }
                    <div class='row-fluid'>
                        <div class="span12">
                            <hr class='hr_color' />
                        </div>
                    </div>
                }
                else
                {
                    <span>No Record found !</span>
                }
                @if (Session["UserType"] != null && Convert.ToInt32(Session["UserType"]) == Convert.ToInt32(UserType.SuperAdmin))
                {
                    <div class="custom-green-container">
                        <div class="row-fluid">
                            <div class="span6 span_margin">
                                <div class="control-group controlgroup_margin">
                                    <label class="control-label">Assign More Tags:</label>
                                    <div class="controls">
                                        @if(ViewBag.tags!=null)
                                        { 
                                        @Html.ListBox(
                                                 "NamelstOfTags",
                                                 ViewBag.tags as MultiSelectList,
                                                             new { @class = "chzn-select max-width", id="lstOfTags", onkeypress = "return CheckKey(event)" }
                                    )
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="span6 span_margin">
                                <div class="control-group controlgroup_margin">
                                    <label class="control-label ">Add More Tags:</label>
                                    <div class="controls">
                                        <input type="text" class="input-block-level max-width" id="txtAddNewTag" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="control-group button-float">
                                    <label class="control-label"></label>
                                    <div class="controls">
                                        <input type="button" class="btn thanx" onclick="return validatedata();" value="Assign" />
                                        <input type="reset" value="Cancel" onclick="window.location.href = window.location.href" class="btn" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section metatags {
    <meta name="title" content="@ViewBag.QuestionText">
    <meta name="description" content="@ViewBag.QuestionText">
    <meta property="og:title" content="@ViewBag.metatitle" />
    <meta property="og:url" content="@ViewBag.metaUrl">
    <meta property="og:image" content="@ConfigurationSettings.AppSettings["askMiraiLink"]/Content/image/logoImage.png" />
    <meta property="og:description" content="@ViewBag.metaDescription" />
    <meta property="og:type" content="website" />
}
@section titleTags {
    <title>Mirai Consult-@ViewBag.QuestionText </title>
}
<div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header center_align">
                <h4 class="popup-title">
                    Book Appointment
                </h4>
            </div>
            <div class="modal-body">
                <p class="answer-title doc-detail-word-break center_align">To book an appointment call on</p>
                <p class="answer-title doc-detail-word-break center_align margin-null">07666 252 444</p>
            </div>
            <div class="modal-footer center_align">
                <button type="button" class="btn thanx cust-red" style="padding:4px 30px;" data-dismiss="modal"><b>OK</b></button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdnQuestionid" value="@ViewBag.questionid" />
<script type="text/javascript" src="https://connect.facebook.net/en_US/all.js"></script>
<script src="~/Content/js/utility.js"></script>
<script type="text/javascript">
    var slectedtag = [];
    $(function () {
        var useType = '@uType';
        var questionText = '';
        @if (Model != null && Model.Count()>0)
        {
            @:questionText = "@Html.Raw(Model.FirstOrDefault().QuestionText)";
        }
        ga('send', 'event', useType, 'Review Others Answers', questionText)
        slectedtag = $("select").val();
    });
    $(function () {
        var refUrl = document.referrer;
        if (refUrl.indexOf("answers") >= 0 || refUrl.indexOf("Doctor-Answers") >= 0) {
            $(".navigation li.active").removeClass("active");
            $('#liAdminFeed').addClass("active");
            $('#liFeed').addClass("active");
            $('#liDocFeed').addClass("active");
        }
        else if (refUrl.indexOf("similar-Questions") >= 0) {
            $(".navigation li.active").removeClass("active");
            $('#liSimilarQuestions').addClass("active");
        }
        else if (refUrl.indexOf("my-activity") >= 0) {
            $(".navigation li.active").removeClass("active");
            $('#liMyActivity').addClass("active");
        }
        else if (refUrl.indexOf("PatientQuestionDetails") >= 0) {
            $(".navigation li.active").removeClass("active");
            $('#liAdminFeed').addClass("active");
        }
        else if (refUrl.indexOf("AskDoctor") >= 0) {
            $(".navigation li.active").removeClass("active");
            $('#liaskdoc').addClass("active");
        }
    });
    $(".chzn-select").chosen
     ({
         allow_single_deselect: true,
         width: "200%"
     });
    function validatedata() {
        var errormsg = "";
        if ($("#lstOfTags :selected").length == 0) {
            errormsg = "Please select at least one tag.";
        }
        if (errormsg == "") {
            Updatedslectedtag = $("select").val();
            var newtags = [];
            var deletedtags = [];
            if (!jQuery.isEmptyObject(Updatedslectedtag)) {
                for (var i = 0; i < Updatedslectedtag.length; i++) {
                    var index = $.inArray(Updatedslectedtag[i], slectedtag)
                    if (index == -1) {
                        newtags.push(Updatedslectedtag[i])
                    }
                }
            }
            if (!jQuery.isEmptyObject(slectedtag)) {
                for (var i = 0; i < slectedtag.length; i++) {
                    var index = $.inArray(slectedtag[i], Updatedslectedtag)
                    if (index == -1) {
                        deletedtags.push(slectedtag[i])
                    }
                }
            }
            $.ajax({
                type: 'POST',
                data: '{ "Addedtags":"' + newtags.toString() + '" , "DeletedTags":"' + deletedtags.toString() + '", "QuestionID":"' + $("#hdnQuestionid").val() + '"}',
                contentType: 'application/json',
                url: "../../Services/UserService.svc/UpdateQuestionTags",
                success: function (response) {
                    location.reload();
                },
                error: function (e) {
                    console.log(e);
                }
            });
            return true;
        }
        else {
            alert(errormsg);
            return false;
        }
    }
    $('#txtAddNewTag').on("keypress", function (e) {
        if (e.keyCode == 13 && $('#txtAddNewTag').val().trim().length != 0) {
            var newTag = $('#txtAddNewTag').val();
            var questionid = $("#hdnQuestionid").val();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: '/Services/UserService.svc/addNewTags?newTag=' + newTag + '&questionid=' + questionid,
                success: function (response) {
                    if (parseInt(response) > 0) {
                        var newTag = $('#txtAddNewTag').val();
                        var questionid = $("#hdnQuestionid").val();
                        $("#lstOfTags").append("<option value=" + response + " selected='true'>" + newTag + "</option>");
                        $("#lstOfTags").trigger("liszt:updated");
                        $('#txtAddNewTag').val('');
                        slectedtag = $("select").val();
                        return false;
                    }
                    else if (parseInt(response) <= 0) {
                        alert("Tag already exist");
                        return false;
                    }
                },
                error: function (data) {
                    if (data.responseText.indexOf('Authentication failed') > -1) {
                        location.reload();
                    }
                }
            });
            return false;
        }
    });
</script>
