@model MiraiConsultMVC.Models.FindDoctorModel

@{
    ViewBag.Title = "FindDoctors";
    if (Session["UserId"] == null)
    {
        Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_PatientMasterLayout.cshtml";        
    }

}
@Scripts.Render("~/bundles/validation")
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    {
        <div class="row-fluid divmargin_bottom">
            <div class="span12 main-outter-padding">
                <div class="row-fluid">
                    <div class="span12 finddoc-title">
                        Find A Doctor
                    </div>
                </div>
                <div class="top_margin content_border find-Doc-gbColor">
                    <div class="row-fluid center_align_if_large">
                        <div class="span4 div-left-padding margin-bottom-tolabel">
                            <div class="margin-bottom-tolabel" style="min-width:210px;">
                                Enter Speciality or Doctor's Name
                            </div>
                            <input type="text" class="find_Doc_inputbox" style="width:210px;" id="txtSpecialityOrName" placeholder="Enter Speciality or Doctor Name" />
                        </div>
                        <div class="span4 city-div-left-padding-large margin-bottom-tolabel">
                            <div class="margin-bottom-tolabel-large">
                                Select City
                            </div>
                            <div id="div-city-select" class="city_chzn searchbox-width">
                                <select id="city-select" data-placeholder="Select City" class="chzn-select" style="width:210px;">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="span4 location_margin ">
                            <div class="margin-bottom-tolabel-large">
                                Select Location
                            </div>
                            <div id="div-location-select" class="searchbox-width ">
                                <select id="locality-select" data-placeholder="Select Location" style="width:210px;" class="chzn-select chosen_margin">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid div-left-padding">
                        <div class="span4 div-left-padding-large">
                            <button class="btn thanx search_margin" onclick="return  btnSearchDoctor_Click(true)">Search</button>
                        </div>
                    </div>
                </div>
                <div id="searchResult">
                </div>
                <span id="searchspan"></span>

            </div>
            <input type="hidden" id="HiddenUserType" name="HiddenUserType" value="@Model.HiddenUserType" />
            <input type="hidden" id="hdnDocconnecturl" name="hdnDocconnecturl" value="@Model.hdnDocconnecturl" />
            <input type="hidden" id="hdnLoactionId" name="hdnLoactionId" value="@Model.hdnLoactionId" />
            <input type="hidden" id="hdnCityId" name="hdnCityId" value="@Model.hdnCityId" />

        </div>
        <script src="~/Content/chosen/chosen.jquery.js"></script>
        <script src="~/Content/js/utility.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                // Stop user to press enter in textbox
                $("input:text").keypress(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            });

            $(".chzn-select").chosen({ allow_single_deselect: true });

            $(function () {
                $(".navigation li.active").removeClass("active");
                $('#liFindDoc').addClass("active");
                $('#liOurDoctors').addClass("active");
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    url: '../../Services/UserService.svc/fillDropdowns',
                    success: function (response) {
                        response = JSON.parse(response);
                        for (cnt = 0; cnt < response.length; cnt++)
                            $('#city-select').append(
                            $('<option></option>')
                                .val(response[cnt]["cityid"])
                                .html(response[cnt]["name"]));

                        var CityId = document.getElementById("hdnCityId").value;
                        var locationId = document.getElementById("hdnLoactionId").value;
                        if (CityId) {
                            $('#city-select option[value=' + CityId + ']').attr("selected", true);
                            getLocationsbyCity();
                        }
                        else {
                            btnSearchDoctor_Click(false);
                        }
                        $(".chzn-select").trigger("liszt:updated");
                    },
                    error: function (data) {
                        if (data.responseText.indexOf('Authentication failed') > -1) {
                            location.reload();
                        }
                    }
                });
            });
            function btnSearchDoctor_Click(ClickEvent) {
                var cityid = $('#city-select').val();
                var locationid = ""
                if ($('#locality-select').val() != null) {
                    locationid = $('#locality-select').val();
                }
                if (ClickEvent) {
                    labelOfEvent = $("#city-select option[value='" + cityid + "']").text() + '/' + $("#locality-select option[value='" + locationid + "']").text();
                    ga('send', 'event', 'Patient', 'Find Doctor', labelOfEvent);
                }
                $('#searchspan').empty();
                $("#searchResult").empty();
                var specialityOrName = $('#txtSpecialityOrName').val();
                var docconnecturl = document.getElementById("hdnDocconnecturl").value;

                $.ajax({
                    type: 'POST',
                    data: '{ "cityid":"' + cityid + '" , "locationid":"' + locationid + '", "specialityOrName":"' + specialityOrName + '", "isEncrypt": "true"}',
                    contentType: 'application/json',
                    url: "../../Services/UserService.svc/getDoctorList",
                    success: function (response) {
                        response = JSON.parse(response);
                        $("#searchResult").empty();
                        $("#searchspan").empty();
                        $("#searchResult").append("<div class='title_fontSize title_color'>Search Result<hr class='hr_color'></div>");
                        for (indexcnt = 0; indexcnt < response.length; indexcnt++) {
                            if (response[indexcnt].photopath && response[indexcnt].photourl)
                                var img = (response[indexcnt].photopath) + escape(response[indexcnt].photourl);
                            else
                                var img = "Content/image/img-na.png";
                            var loaction = '';
                            if (response[indexcnt].cities && response[indexcnt].locations) {
                                loaction = response[indexcnt].cities + ',' + response[indexcnt].locations
                            }
                            else if (response[indexcnt].cities) {
                                loaction = response[indexcnt].cities;
                            }
                            var template = '';
                            if (indexcnt % 2 != 0)
                                template = " <div class='row-fluid icon_padding_bottom custom-yellow-back'>"
                            else
                                template = " <div class='row-fluid icon_padding_bottom'>"

                            template = template + "<div class='span11 div_margin_bottom'><div class='row-fluid margin-left-doc-details'><div class='span2 img_width'><div class='avtar img'><img src=" + img + "></div>" +
                            "</div><div class='span7 margin_leftdocdetail middle-size-padding div-margin-left'><div class='subtitle_fontSize find-doc-name'><a class='subtitle_fontSize find-doc-name question_text' target='_blank' href='../doctor/" + response[indexcnt].name_seo + "'>" + response[indexcnt].name + "</a></div>" +
                            "<div class='subtitle_fontSize'><div class='span3'><b>Specialities: </b></div><div class='span9 content_wrap searchresult-margin-left'>" + response[indexcnt].specialities + "</div></div><div class='subtitle_fontSize'><div class='span3'><b>Location: </b></div><div class='span9 content_wrap searchresult-margin-left'>" + loaction + "</div></div></div>"
                            if (document.getElementById("HiddenUserType").value == "2") {
                                if (response[indexcnt].isdocconnectuser != false && docconnecturl != "")
                                    template = template + "<div class='span3 pull-right'><a onclick='bookaptclicked(\"" + response[indexcnt].userid + "\", \"" + response[indexcnt].name + "\")' href='" + docconnecturl + response[indexcnt].userid + "&frmaskmirai=1' Class='btn book_appt_button make_appointment_btn btn-margin-bottom' target='_blank' >Book Appointment </a></div>";
                                if (response[indexcnt].isdocconnectuser != true)
                                    template = template + "<div class='span3 pull-right'><a Class='btn book_appt_button make_appointment_btn btn-margin-bottom' onclick='ViewProfile(\"" + response[indexcnt].userid + "\")'>Book Appointment </a></div>";
                            }
                            template = template + "</div>";
                            $("#searchResult").append(template);
                        }
                        if (response.length == 0) {
                            $('#searchspan')[0].innerHTML = 'No records found';
                        }
                    },
                    error: function (e) {
                    }
                });
                return false;
            };

            $('#div-city-select').on('change', '#city-select', function () {
                if ($('#city-select').val()) {
                    getLocationsbyCity();
                }
            });

            $('#div-city-select').on('change', '#city-select', function (evt, params) {
                if (params == undefined) {
                    $('#locality-select').empty();
                    $("#locality-select").trigger("liszt:updated");
                }
            });

            function getLocationsbyCity() {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: '"' + $('#city-select').val() + '"',
                    contentType: 'application/json',
                    url: '../../Services/UserService.svc/getLocationsbyCity',
                    success: function (response) {
                        $('#locality-select').empty();
                        $('#locality-select').append('<option></option>');
                        response = JSON.parse(response);
                        for (cnt = 0; cnt < response.length; cnt++)
                            $('#locality-select').append(
                            $('<option></option>')
                                .val(response[cnt]["locationid"])
                                .html(response[cnt]["name"]));
                        var Location = document.getElementById("hdnLoactionId").value;
                        if (Location) {
                            $('#locality-select option[value=' + Location + ']').attr("selected", true);
                            btnSearchDoctor_Click(false);
                            document.getElementById("hdnLoactionId").value = null;
                        }
                        else {
                            btnSearchDoctor_Click(false);
                        }
                        $(".chzn-select").trigger("liszt:updated");
                    },
                    error: function (data) {
                        if (data.responseText.indexOf('Authentication failed') > -1) {
                            location.reload();
                        }
                    }
                });
            }
        </script>
    }
}

