@model IEnumerable<TagCloud.Tag>
@{
    Layout = "~/Views/Shared/_AskmiraiMasterLayout.cshtml";
}

<div class="image-padding-left" style="vertical-align:central">
    <img src="../Content/image/home.png" />
    <div class="container">
        <div class="ask-question-div row-fluid hidden-phone">
            <div class="innerdivborders span12">
                <div class="ask-question-div-title">
                    @*<p class="div-title-firstp">
                        Do you have any health related questions?
                    </p>*@
                    <p class="div-title-firsts div-padding padding-askdoctor">Ask Doctors</p>
                </div>
                <textarea class="input-block-level Questiontextarea div-askdoctor-padding" id="txtAreaQuestion" onkeyup="Count(this)"
                          placeholder="Type your question here" rows="6" cols="15" maxlength="200" onkeypress="return isEnterPress(event, this);" style="width:100%"></textarea>

            </div>
            <div class="row-fluid">
                <div class="span12">
                    @*<div class="span9">*@
                        <input class="btn thanx home-send-btn" onclick="sendQuestion()" type="button" name="usrname" value="Send" style="float:right;margin-right:0%">
                    @*</div>*@
                    @*<div class="span4 offset8 ">
                        <label class="home-lblcnt" id="count" style="float:right">0/200</label>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row-fluid visible-phone">
            <div class="span12">
                <div>
                    @*<p class="div-title-firstp div-details-margin-left">
                        Do you have any health related questions?
                    </p>*@
                    <p class="div-title-firsts div-details-margin-left">Ask Doctors</p>
                </div>
                <textarea class="input-block-level Questiontextarea questextarea div-askdoctor-padding textareadiv-margin" id="txtQuestion" onkeyup="Count(this)"
                          placeholder="Type your question here" rows="3" cols="10" maxlength="200" width="100%" onkeypress="return isEnterPress(event, this);" onpaste='return maxLengthPaste(this,"200");' style="font-size:14px"></textarea>
            </div>
            <div class="row-fluid">
                <div class="span12 ">
                    <div class="span8 center_align btnpadding-right">
                        <input class="btn thanx home-send-btn" onclick="sendQuestion()" type="button" name="usrname" value="Send" style="float:right">
                        @*<label class="home-send-btn count-position" id="countchar" style="float:right">0/200</label>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-outter-padding">
    <div class="row-fluid">
        <div class="span12">
            <div style="margin-top:1%;margin-bottom:1%">
                <img alt="img" src="~/Content/image/Home_endorse.png" height="30px" width="35px"><span style="font-size: 15px; font-weight: bold; margin-right: 20px; margin-left: 8px; color: #222324">Topics</span>|<span style="margin-left: 24px; font-size: 12px; font-weight: normal; color: #696A6B">Select the topic you wish to know more. These are the current trending topics.</span>
            </div>
        </div>
    </div>
</div>
        <div class="main-outter-padding">
            <div class="row-fluid tagDiv">
                <div class="span12">
                    <p class="tagcloud tagcloud-margin" style="line-height: 23px;">
                        @foreach (var t in Model)
                        {
                            <a href='@(t.NavigateUrl)' class='@(t.CssClass)' title='@(t.ToolTip + " " + t.TagWeight + " Answers")'>@t.Text</a>
                        }
                        <a href="~/topics" class="tagAcnhor" style="color: #222324;font-size:14px">view more...</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="main-outter-padding">
            <div class="row-fluid">
                <div class="span12">
                    <p class="home_First_p textareadiv-margin tagPara" style="color: #3C3C3C">
                        Mirai Consult<sup>TM</sup> aims to support your health related decisions. Responses provided on Mirai Consult<sup>TM</sup>
                        do not substitute a physical consultation with your physician.  Mirai Consult<sup>TM</sup> is not to be used for medical emergencies.
                    </p>

                </div>
            </div>
        </div>
        @section metatags {
            <meta property="og:title" content="MiraiConsult" />
            <meta property="og:url" content="@ViewBag.AskmiraiUrl">
            <meta property="og:image" content="@ViewBag.AskmiraiUrl/Content/image/logoImage.png" />
            <meta property="og:description" content="Healthcare now more accessible and convenient at Mirai Consult" />
            <meta property="og:type" content="website" />
        }
        @*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
        <script src="~/Content/js/bootstrap-transition.js"></script>
        <script src="~/Content/js/bootstrap-alert.js"></script>
        <script src="~/Content/js/bootstrap-modal.js"></script>
        <script src="~/Scripts/bootstrap-dropdown.js"></script>
        <script src="~/Content/js/bootstrap-scrollspy.js"></script>
        <script src="~/Content/js/bootstrap-tab.js"></script>
        <script src="~/Content/js/bootstrap-collapse.js"></script>
        <script src="~/Content/js/jquery.placeholder.js"></script>
        @*<script src="~/Content/js/autocomplete.js"></script>*@
        <script language="javascript">
            $(function () {
                $('input[type=text], textarea').placeholder();
            });
            $('#txtAreaQuestion').attr('style', 'margin-bottom: 0px !important');
            $(document).ready(function () {
                var MaxLength = 200;
                $('#txtAreaQuestion').keyup(function (e) {
                    var text = $(this).val();
                    if ($(this).val().length > MaxLength) {
                        $(this).val(text.substr(0, (MaxLength)));
                    }
                });
                $('#txtQuestion').keyup(function (e) {
                    var text = $(this).val();
                    if ($(this).val().length > MaxLength) {
                        $(this).val(text.substr(0, (MaxLength)));
                    }
                });
            });

            $('#txtAreaQuestion').bind('input propertychange', function () {
                if ($(this).val().length <= 200) {
                    document.getElementById('count').innerHTML = $(this).val().length + "/200";
                }
            });
            $('#txtQuestion').bind('input propertychange', function () {
                if ($(this).val().length <= 200) {
                    document.getElementById('countchar').innerHTML = $(this).val().length + "/200";
                }
            });
            function sendQuestion() {
                var question;
                if (document.getElementById("txtAreaQuestion").value != "" && document.getElementById("txtAreaQuestion").value != "Type your question here")
                    question = document.getElementById("txtAreaQuestion").value;
                else if (document.getElementById("txtQuestion").value != "" && document.getElementById("txtQuestion").value != "Type your question here")
                    question = document.getElementById("txtQuestion").value;
                else
                    question = "";
                var session = '@Session["UserType"]';
                if (session != null && session == 2)
                    window.location.href = "../Patients/AskDoctor?question=" + encodeURIComponent(question);
                else
                    window.location.href = "/similar-questions?question=" + encodeURIComponent(question);
            }

            function isEnterPress(evt, x) {
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode == 13) {
                    var session = '@Session["UserType"]';
                    if (session != null && session == 2) {
                        window.location.href = "../Patients/AskDoctor?question=" + encodeURIComponent(x.value);
                    }
                    else {
                        window.location.href = "/similar-questions?question=" + encodeURIComponent(x.value);
                    }
                    return false;
                }
                return true;
            }
            function Count(x) {
                if (x.value.length <= 200) {
                    if (x.id == 'txtAreaQuestion')
                        document.getElementById('count').innerHTML = x.value.length + "/200";
                    else if (x.id == 'txtQuestion')
                        document.getElementById('countchar').innerHTML = x.value.length + "/200";
                }
            }
        </script>
