@model IEnumerable<MiraiConsultMVC.EFModels.appointment>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doctorid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.docassistantid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doclocationid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isalldayevent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.appointmenttypeid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastmodifiedat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastmodifiedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientemail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.patientmobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.feedback)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unregpatientid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.deviceid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prepayamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prepay_by)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txncode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ispaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cca_order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cca_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cca_paid_on)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cca_amount)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doctorid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.docassistantid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.doclocationid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isalldayevent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.appointmenttypeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastmodifiedat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastmodifiedby)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientemail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patientmobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.feedback)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unregpatientid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deviceid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prepayamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prepay_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txncode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ispaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cca_order)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cca_status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cca_paid_on)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cca_amount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.appointmentid }) |
                @Html.ActionLink("Details", "Details", new { id=item.appointmentid }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.appointmentid })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
