@model MiraiConsultMVC.EFModels.appointment

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prepay for appointment</title>
</head>
<body>
    <div>
        <h4>Appointment Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.subject)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.subject)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.starttime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.starttime)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.endtime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.endtime)
            </dd>    
            <dt>
                @Html.DisplayNameFor(model => model.patientname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.patientname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.patientemail)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.patientemail)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.patientmobile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.patientmobile)
            </dd>   
            <dt>
                @Html.DisplayNameFor(model => model.prepayamount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.prepayamount)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.prepay_by)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.prepay_by)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.appointmentid }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
