@model MiraiConsultMVC.Models.User
@{
    Layout = "~/Views/Shared/_PatientMasterLayout.cshtml";
}
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/dateofbirthvalidation.js"></script>
<script src="~/Scripts/utility.js"></script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    { 
        <div class="main row-fluid">
    <div class="span12 main-outter-padding">
        <div class="row-fluid">
            <div class="span12 cust-header-name-text">
                <h5 class="title cust-header-main-text-title">Sign Up For Patient Account</h5>
            </div>
        </div>
        <div class="wrapper-bordered" id="SuccessMessagediv" visible="false">
            <div class="row-fluid">
                <div class="span12">
                    <label for="lblSuccessMessage" id="lblSuccessMessage"></label>
                </div>
            </div>
        </div>
        <div id="controlcontainer" class="wrapper-bordered cust-font-style" visible="true">
            <div class="">
                <div class="row-fluid">
                    <div class="span12 cust-header-name-text">
                        <h5 class="title cust-header-name-text cust-space-below">Personal Details</h5>
                    </div>
                </div>
                <div class="row-fluid ">
                    <div class="span10" id="errorMessageDiv" visible="false">
                        <label for="lblErrorMessage" id="lblErrorMessage"></label>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span12">
                        <div class="span6">
                            <div class="span4">
                                <label class="required cust-font-style ">First Name:</label>
                            </div>
                            <div class="span8">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "cust-no-border cust-lightgreen input-block-level", placeholder = "First Name" })<br />
                                @Html.ValidationMessageFor(m => m.FirstName, string.Empty, new { @class = "validation-summary-errors" })
                             </div>
                        </div>
                        <div class="span6">
                            <div class="span4">
                                <label class=" required cust-font-style">Last Name:</label>
                            </div>
                            <div class="span8">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "input-block-level cust-lightgreen cust-gray", placeholder = "Last Name" })<br />
                                @Html.ValidationMessageFor(m => m.LastName, string.Empty, new { @class = "validation-summary-errors" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span12">
                        <div class="span6">
                            <div class="span4">
                                <label class="cust-font-style">Date of Birth:</label>
                            </div>
                            <div class="span8">
                                <div class="input-append date" id="dob" data-date-format="dd/mm/yyyy" data-date-start-view="decade"
                                     data-date-enddate="new Date()" style="width: 100%">
                                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "input-without-right-curve cust-lightgreen cust-gray", placeholder = "Date Of Birth", @readonly = "readonly" })
                                    <span class="add-on icon-with-right-curve"></span>
                                </div>
                            </div>
                        </div>
                        <div class="span6 ">
                            <div class="span4">
                                <label class="cust-font-style">Gender:</label>
                            </div>
                            <div class="span8">
                                <label class="radio inline  cust-font-style">
                                    <input type="radio" id="radMale" name="gender" checked class="cust-font-style" />Male
                                </label>
                                <label class="radio inline  cust-font-style">
                                    <input type="radio" id="radFemale" name="gender" class="cust-font-style" />Female
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span12">
                        <div class="span6">
                            <div class="span4">
                                <label class="cust-font-style">Height (in cm):</label>
                            </div>
                            <div class="span8">
                                @Html.TextBoxFor(m => m.Height, new { @Class = "input-block-level cust-lightgreen cust-lightgreen", placeholder = "Height in cm" })
                                @Html.ValidationMessageFor(m => m.Height, string.Empty, new { @class = "validation-summary-errors" })
                            </div>
                        </div>
                        <div class="span6">
                            <div class="span4">
                                <label class="cust-font-style">Weight (in kg):</label>
                            </div>
                            <div class="span8">
                                @Html.TextBoxFor(m => m.Weight, new { @Class = "input-block-level cust-lightgreen cust-gray", placeholder = "Weight in kg" })
                                @Html.ValidationMessageFor(m => m.Weight, string.Empty, new { @class = "validation-summary-errors" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 cust-header-name-text">
                        <h5 class="title cust-header-name-text cust-space-below">Contact Details</h5>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span12">
                        <div class="span2">
                            <label class="cust-font-style">Address:</label>
                        </div>
                        <div class="span10 cust-margin-span10">
                            <textarea name="txtAddress" rows="1" cols="20" id="txtAddress" class="input-block-level cust-lightgreen cust-gray" style="width:100%;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span12">
                        <div class="span6">
                            <div class="span4">
                                <label class="cust-font-style">Country:</label>
                            </div>
                            <div class="span8">
                                @Html.DropDownList("Countries", "--- Select Country ---")
                                @*@Html.DropDownListFor(m => Model.CountryId, new SelectList(ViewBag.Countries, "Value", "Text", Model.CountryId), "--Select Country--", new { @class = "input-block-level cust-lightgreen cust-gray drop-arrows max-width min-width" })*@
                            </div>
                        </div>
                        <div class="span6">
                            <div class="span4">
                                <label class="cust-font-style">State:</label>
                            </div>
                            <div class="span8">
                                @Html.DropDownList("State", "--- Select State ---")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span6">
                        <div class="span4">
                            <label class="cust-font-style">City:</label>
                        </div>
                        <div class="span8">
                            @Html.DropDownList("City", "--- Select City ---")
                        </div>
                    </div>
                    <div class="span6">
                        <div class="span4">
                            <label class="cust-font-style">Location:</label>
                        </div>
                        <div class="span8">
                            @Html.DropDownList("Location", "--- Select Location---")
                        </div>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row">
                    <div class="span6">
                        <div class="span4">
                            <label class="cust-font-style">Pin Code:</label>
                        </div>
                        <div class="span8">
                            @Html.TextBoxFor(m => m.Pincode, new { @Class = "input-block-level cust-lightgreen cust-lightgreen", placeholder = "Pin Code" })
                            @Html.ValidationMessageFor(m => m.Pincode, string.Empty, new { @class = "validation-summary-errors" })
                         </div>
                    </div>
                    <div class="span6">
                        <div class="span4">
                            <label class="cust-font-style">Mobile No:</label>
                        </div>
                        <div class="span8">
                            @Html.TextBoxFor(m => m.MobileNo, new { @Class = "input-block-level cust-lightgreen cust-lightgreen", placeholder = "Mobile No" })
                            @Html.ValidationMessageFor(m => m.MobileNo, string.Empty, new { @class = "validation-summary-errors" })
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12 cust-header-name-text">
                            <h5 class="title cust-header-name-text cust-space-below">Account Details</h5>
                        </div>
                    </div>
                    <div class="row-fluid cust-padding-bw-row">
                        <div class="span6">
                            <div class="span4">
                                <label class="required cust-font-style">Email:</label>
                            </div>
                            <div class="span8">
                                @Html.TextBoxFor(m => m.Email, new { @Class = "input-block-level cust-lightgreen cust-gray", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email, string.Empty, new { @class = "validation-summary-errors" })
                            </div>
                        </div>

                    </div>
                    <div class="row-fluid cust-padding-bw-row">
                        <div class="span6">
                            <div class="span4">
                                <label class="required cust-font-style">Password:</label>
                            </div>
                            <div class="span8">
                                @Html.TextBoxFor(m => m.Password, new { @Class = "input-block-level cust-lightgreen cust-gray", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "validation-summary-errors" })
                             </div>
                        </div>
                        <div class="span6">
                            <div class="span4">
                                <label class="required cust-font-style">Confirm Password:</label>
                            </div>
                            <div class="span8">
                                @*<asp:TextBox MaxLength="30" type="password" runat="server" class="input-block-level cust-lightgreen input-block-level" ID="ConfirmPassword" placeholder="Confirm Password" />*@
                                <input name="ConfirmPassword" maxlength="30" id="ConfirmPassword" type="password" class="input-block-level cust-lightgreen input-block-level" placeholder="Confirm Password"/>
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, string.Empty, new { @class = "validation-summary-errors" })
                             </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid cust-padding-bw-row text-center">
                    <div class="span12">
                        <input type="button" name="btnCreatePatientAccount" value="Create Account" onclick="" id="btnCreatePatientAccount" class="btn cust-button-radius cust-skyblue cust-uppercase cust-space-around cust-medium-button cust-font-style" />
                        <input type="submit" name="btnClear" value="Clear" id="btnClear" class="btn cust-button-radius cust-uppercase cust-red cust-space-around cust-medium-button cust-font-style" />
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div>
}
}
<script type="text/javascript">
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $(".input-block-level").keyup(function () {
        Page_ClientValidate();
    });
    $(function () {
        $('#dob').datepicker();
    });

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-48132984-2', 'askmirai.com');
    ga('send', 'pageview');

</script>
